*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.input-container { 
  
    position: relative;
    margin: 2rem 0;
}
.container {
    background-color: rgb(255, 233, 162);
    position: relative;
    width: 100%;
    min-height: 110vh;
    top: 0;
    left: initial;
    right: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton {
    padding: 10px 15px;
    background-color: rgb(162, 255, 193);
    border: 3px solid #fafafa00;
    font-size: 18px;
    font-family: monospace;
    color: #090c0b;
    line-height: 1; 
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin: 0;
}

.texto{
    font-family: monospace;
    font-size: 16px;
}

.title {    
    width: 100%;
    height: 25%;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(248, 181, 169);
    font-size: 26px;
    font-family: monospace; 
    transition: 0.3s;
}
